<%- include('partials/header.ejs') %>

<body class="text-center">
    
    <form action="/submit">
        
        <table id="cart" style="width:50%; border:1px solid black; margin-left:25%; background-color: #f1f1c1; text-align:left">
            <tr>
                <th>GAME</th>
                <th>QTY</th> 
                <th>COST</th>
            </tr>

            <% cart.forEach(function(item){ %>
                <tr>
                    <td><%= item["productName"] %></td>
                    <td><%= item["quantity"] %></td>
                    <td><%= item["productCost"] %></td>
                </tr>
            <% }); %>
        </table><br>
        
        <button class="btn btn-primary">Submit Order</button>
    </form>
    
</body>
<%- include('partials/footer.ejs') %>
</html>