<%- include('partials/header.ejs') %>

   <body class="text-center">     
        <h2 style="font-size: 5em"> BEST SELLERS </h2><br>
        <main class="container">
            <% products.forEach(function(game, i){ %>
                <% if (i === 0 || i % 3 === 0) { %>
                    <section class="row">
                <% } %>
                <div class="col-4 shadow-lg p-3 mb-3 bg-white rounded">
                    <form action="/addCart" method="post">
                        <span id="game<%= i+1 %>cost"></span><br>
                        <img src="img/game<%= i+1 %>.jpg" alt="<%= game["product_name"] %>" class="rounded" width="200" height="250" />
                        <br><br>
                        <button id="game<%= i+1 %>" type="submit" class="btn btn-success text-nowrap gamebtn" value="<%= i+1 %>"> Add to Cart </button>
                        <input type="hidden" name="productId" value="<%= game["product_id"] %>">
                        <input type="hidden" name="productName" value="<%= game["product_name"] %>">
                        <input type="hidden" name="productCost" value="<%= game["product_cost"] %>">
                    </form>
                </div>
                <% if ((i + 1) % 3 === 0) { %>
                    </section>
                <% } %>
            <% }); %>
            <br><br>
            <section id="shoppingcart" class="d-flex justify-content-center col-12 shadow-lg p-3 mb-3 bg-white rounded">
                <form action="/checkout">
                    <br>
                    <h2> SHOPPING CART </h2><br>
                    <table id="cart" style="width:100%; background-color: #f1f1c1; text-align:left">
                         <tr>
                            <th>GAME</th>
                            <th>QTY</th> 
                            <th>COST</th>
                        </tr>
                        <% cart.forEach(function(item){ %>
                            <tr>
                                <td><%= item["productName"] %></td>
                                <td><%= item["quantity"] %></td>
                                <td><%= item["productCost"] %></td>
                            </tr>
                        <% }); %>
                    </table><br>
                    <strong>TOTAL COST: $</strong><span id="totalCost"></span><br><br>
                    <button class="btn btn-primary"> Checkout </button>
                    <br><br>
                </form>
                <br><br>
            </section>
        </main>
    </body>

<%- include('partials/footer.ejs') %>
<br>
<%- include('partials/fakeweb.ejs') %>
<br><br>
    
</html>
